body {
  background-color: beige;
}

h1 {
  /* H1 Styles */
  background-color: cadetblue;
  color: white;

  text-align: center;

  border-bottom: 1px solid red;

  text-transform: uppercase;

  font-family: cursive;
}

h3 {
  /* H3 Styles */
  text-decoration: underline;
  text-transform: capitalize;

  letter-spacing: 2px;

  text-shadow: 2px 2px 3px blue;

  font-size: 25px;

  position: relative;
  left: 50px;
  /* top: 20px; */
}

.posfix {
  width: 200px;
  position: fixed;
  bottom: 20px;
  right: 10px;
}

.posabs {
  width: 200px;
  position: absolute;
  top: 40px;
  right: 0;
}

.posstik {
  width: 200px;
  position: sticky;
  top: 10px;
}

p {
  /* Paragraph styles */
  text-align: justify;
  text-indent: 30px;

  line-height: 25px;
  word-spacing: 8px;

  white-space: normal;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", "sans-serif";

  border: 1px solid black;
  /* display: inline-block; */
  /* overflow: auto; */
}

.secondPara {
  /* only second paragraph */
  /* font-style: italic; */
  /* font-weight: bold; */
}

a {
  color: hotpink;
  text-decoration: none;
  /* display: block; */
}
a:hover {
  text-decoration: underline;
  padding: 5px;
}

.submitButton {
  /* Button styles */
  margin-left: 50%;
  margin-right: 50%;

  padding: 5px 10px;
  /* padding-top: 5px;
  padding-bottom: 5px; */
  /* padding-left: 10px;
  padding-right: 10px; */

  font-size: 18px;
  background-color: cornflowerblue;
  color: white;
  cursor: pointer;

  border: none;
  box-shadow: 0 5px grey;
}

ul {
  /* unordered list */
  list-style-type: circle;
  /* list-style-image: url(../images/moon.jpg); */
  border: 1px solid red;
  list-style-position: inside;
}
ul li {
  border: 1px solid black;
}

ol {
  /* display: none; */
  /* ordered list */
  list-style-type: lower-alpha;
  background-color: #3399ff;
  padding: 25px;
}
ol li {
  background-color: #cce5ff;
  margin: 5px 0;
}
