body {
  background-color: beige;
}

h1 {
  /* H1 Styles */
  background-color: cadetblue;
  color: white;

  text-align: center;

  border-bottom: 1px solid red;
}

h3 {
  /* H3 Styles */
  text-decoration: underline;
}

p {
  /* Paragraph styles */
  text-align: justify;
}

.secondPara {
  /* only second paragraph */
}

.submitButton {
  /* Button styles */
  margin-left: 50%;
  margin-right: 50%;

  padding: 5px 10px;
  /* padding-top: 5px;
  padding-bottom: 5px; */
  /* padding-left: 10px;
  padding-right: 10px; */

  font-size: 18px;
  background-color: cornflowerblue;
  color: white;
  cursor: pointer;

  border: none;
  box-shadow: 0 5px grey;
}
