body {
  background-color: beige;
}

h1 {
  /* H1 Styles */
  background-color: cadetblue;
  color: white;

  text-align: center;

  border-bottom: 1px solid red;

  text-transform: uppercase;

  font-family: cursive;
}

h3 {
  /* H3 Styles */
  text-decoration: underline;
  text-transform: capitalize;

  letter-spacing: 2px;

  text-shadow: 2px 2px 3px blue;

  font-size: 25px;
}

p {
  /* Paragraph styles */
  text-align: justify;
  text-indent: 30px;

  line-height: 25px;
  word-spacing: 8px;

  white-space: normal;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", "sans-serif";
}

.secondPara {
  /* only second paragraph */
  /* font-style: italic; */
  /* font-weight: bold; */
}

a {
  color: hotpink;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  padding: 5px;
}

.submitButton {
  /* Button styles */
  margin-left: 50%;
  margin-right: 50%;

  padding: 5px 10px;
  /* padding-top: 5px;
  padding-bottom: 5px; */
  /* padding-left: 10px;
  padding-right: 10px; */

  font-size: 18px;
  background-color: cornflowerblue;
  color: white;
  cursor: pointer;

  border: none;
  box-shadow: 0 5px grey;
}
